#btPrev, #btMenu, #btNext {
	bottom: 48px;
	background: rgba(255, 177, 27, 0.9);
}
nav ul {
	padding-left: 0;
}
nav {
	height: 100%;
	position: fixed;
	right: 5%;
	top: 75%;
	width: 36px;
}
nav li {
	box-shadow: rgba(255, 255, 255, .5) 1px 1px 2px 1px;
	transition: all .3s ease-in-out;
	border-radius: 8px;
	display: block;
	height: 30px;
	margin: 16px 0px 16px 4px;
	width: 32px;
}
nav li:hover {
	margin: 16px 0;
	width: 36px;
}
nav li img {
	display: block;
	margin: 0 auto;
	opacity: .5;
	position: relative;
	top: 8px;
	width: 16px;
}
nav span {
	position: absolute;
	font-size: 14px;
	color: white;
	opacity: .5;
	height: 20px;
	width: 13px;
	border-radius: 20px;
	background-color: black;
	padding-left: 7px;
	margin-left: -12;
	cursor: move;
	border: 2px solid #dcdcdc;
}
#TheTable img {
	max-width: 85%;
	transition: all .2s ease-in-out;
	border-radius: 2px;
	box-shadow: 3px 3px 9px rgba(20%, 20%, 20%, .3);
	border: rgba(255, 255, 255, .1) groove;
}
#TheTable img:hover {
	max-width: 125% !important;
}